CONSUMER_KEY=your_actual_consumer_key
CONSUMER_SECRET=your_actual_consumer_secret
TOKEN_EXPIRES_IN=3599   
DARAJA_LOCAL_CALLBACK_TIMEOUT_MS=5000
DARAJA_LOCAL_TOKEN_EXPIRES_IN=3599
DARAJA_LOCAL_PORT=8080
DARAJA_LOCAL_HOST=127.0.0.1
PASS_KEY=your_actual_pass_key